.library-wrapper {
  padding: 0 16px 0 16px;
  height: 90%;
  overflow-y: scroll;
  color: #fff;
}

.library-description {
  padding: 0 0 4px 0;
  color: #fff;
}

.library-description p {
  color: #fff;
  line-height: 16px;
  margin: 0 0 8px;
}

.library-description ul {
  margin: 0;
  padding: 0 0 8px 0;
  line-height: 16px;
  color: #fff;
}

.library-saved-section {
  margin-top: 16px;
}

.library-title {
  font-weight: 600;
  color: #fff;
  margin-top: 0;
  margin-bottom: 6px;
}

.library-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.save-library {
  cursor: pointer;
}

.library-list-item {
  display: flex;
  flex-flow: row;
  padding: 16px 0 16px 0;
  border-bottom: 1px solid #444;
  flex-grow: 1;
  margin: 0;
}

.library-list-item:last-child {
  border-bottom: none;
}

.library-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.library-icon {
  width: 24px;
  height: 24px;
  display: block;
}

.item-content-title {
  font-size: 11px;
  margin: 0 0 4px;
  font-weight: 500;
  color: #fff;
}

.save-library-label {
  margin: auto 0;
  padding-left: 12px;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
}

.item-content-styles {
  color: #fff;
  font-weight: 400;
}

.library-list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.library-remove {
  border: none;
  align-self: center;
  margin-left: auto;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.library-remove:hover {
  background: rgba(255, 255, 255, 0.16);
}

.library-remove img {
  filter: invert(27%) sepia(98%) saturate(7492%) hue-rotate(355deg)
    brightness(97%) contrast(119%);
  width: 18px;
  height: 18px;
}

/* Styles Page */
.styles-overview-wrapper {
  height: calc(100% - 41px);
  padding: 0 0 12px;
  overflow-y: scroll;
}

.style-icon {
  height: 16px;
  width: 16px;
}

.styles-overview-wrapper h4 {
  font-weight: 600;
  color: #111;
  padding: 0 16px;
  margin: 16px 0 4px;
}

.style-overview-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overview-list-item {
  display: flex;
  flex-flow: column;
  padding: 12px 12px 12px 16px;
  border-bottom: 1px solid #e5e5e5;
  flex-grow: 1;
}

.list-item--open {
  padding: 12px 12px 8px 16px;
}

.overview-list-item:hover .overview-icon {
  display: block;
}

.consumer-sublist {
  display: none;
}

.overview-content {
  display: flex;
  flex-flow: row;
  height: 24px;
}

.overview-content .style-list-item {
  flex-grow: 1;
}

.overview-content .style-preview {
  margin-right: 8px;
}

/* .list-item--open .overview-icon {
  display: block;
} */

.list-item--open .consumer-sublist {
  display: block;
}

.overview-icon {
  display: none;
  margin-left: auto;
  align-self: flex-end;
  height: 24px;
  padding: 4px;
  border-radius: 4px;
}

.overview-icon:hover {
  background-color: #f9f9f9;
}

.overview-content-select {
  cursor: pointer;
}

.list-item--open .overview-content-arrow {
  transform: rotate(90deg);
}

.consumer-sublist {
  padding: 12px 2px 0;
  list-style: none;
}

.consumer-sublist-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  line-height: 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.sublist-item-label {
  color: #333;
}

.consumer-sublist-item:hover .sublist-item-label {
  color: #000;
  text-decoration: underline;
}

.consumer-sublist-item:hover .sublist-item-count {
  color: #000;
  text-decoration: underline;
}

.sublist-item-icon {
  margin-right: 10px;
  opacity: 50%;
}

.sublist-item-count {
  display: inline-block;
  /* padding-right: 1px; */
}
